<div class="container">
  <button (click)="navigate()" type="button" class="btn btn-success">
    Make Payment
  </button>
  <div class="box" *ngIf="creditCard && !loading">
    <div class="box-item" *ngFor="let item of creditCard | keyvalue">
      <b>{{ item.key }}</b
      >: {{ item.value }}
    </div>
  </div>
  <div class="col-12" *ngIf="error && !loading">
    <div class="alert alert-success mt-3">{{ error?.message }}</div>
  </div>

  <div class="view-container">
    <router-outlet></router-outlet>

    <div ng-view class="view-frame"></div>
  </div>
</div>
